language: python
os: linux
python:
  - "3.5"
  - "3.6"
  - "3.7"
# command to install dependencies
install:
  - pip install .
# command to run tests
script:
  - pytest --cov=./
after_success:
  - codecov
  - bash <(curl -s https://codecov.io/bash)
